body {
	background-color: #2de3c8;
	padding: 20px;
	margin: 0;
  }
h1, h2, p, ul, li {
	font-family: sans-serif;
  }
ul.header li {
	display: inline;
	list-style-type: none;
	margin: 0;
  }
ul.header {
	background-color: #111;
	padding: 0;
  }
ul.header li a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	padding: 20px;
	display: inline-block;
  }
.content {
	text-align: center;
	background-color: #FFF;
	padding: 30px;
	margin-left: 10%;
	margin-right: 10%;
  }
.content h2 {
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
  }
.content li {
	margin-bottom: 10px;
	list-style: square;
	list-style-position: inside;
	text-align: center;
  }
.content p {
	text-align: center;
	line-height: normal;
}
.active {
	background-color: #0099FF;
}
